.wrapper {
    background-color: brown;
    display: grid;
    grid-template-areas:
        "Two       Three."
        "one   Four   Five";
}



.one {
    grid-area: one;
    background-color: black;


}

.Two {
    grid-area: Two;
    background-color: blueviolet;


}

.Three {
    grid-area: Three;
    background-color: darkolivegreen;
}


.Four {
    grid-area: Four;
    background-color: firebrick;


}

.Five {
    grid-area: Five;
    background-color: dodgerblue;
}